* {
    padding: 0;
    margin: 0;
}
body {
    font-family: 'Raleway', sans-serif;
    font-size: 16px;
    line-height: 1;
    /* fade background */
    background: linear-gradient(-60deg, rgb(189, 134, 217), rgb(191, 113, 231), rgb(118, 57, 216), rgb(86, 73, 229), rgb(88, 144, 225), #23d5ab, #66f9d6);
	background-size: 400% 415%;
	animation: gradient 20s ease infinite;
	height: 100vh;
}

.relative {
    position: relative;
}

.absolute {
    position: absolute;
}

footer {
    padding: 10px;
}

/* use */
textarea {
    background: transparent;
    border: none;
    resize: none;
    color: #000000;
    padding: 10px;
}

.jumbotron {
    text-align: center;
    background-color: transparent;
    color: black;
    border-radius: 0;
    border-bottom: 10px solid black;
    padding-bottom: 20px;
    margin-bottom: 5px;
}

.jumbotron h1 {
    text-shadow: 2px 2px white;
    margin-bottom: 15px;
}

#currentDay {
    color: white;
    text-decoration: overline;
}

#currentTime {
    font-size: 40px;
    font-family: sans-serif;
    color: white;
}
/* use */
.description {
    white-space: pre-wrap;
}
/* use this to wrap */
.time-block {
    text-align: center;
    border-radius: 15px;
    border-bottom: 2px solid black;
}

.row {
    white-space: pre-wrap;
    height: 85px;
    border-top: 1px solid white;
}

.hour {
    background-color: #ffffff;
    font-family: 'Open Sans', sans-serif;
    color: #000000;
    padding-top: 30px;
}

.past {
    background-color: #beb7b7;
    color: black;
}

.present {
    background-color: #C2E2F5;
    color: black;
}

.future {
    background-color: #be93d4;
    color: black;
}

.saveBtn {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #06aed5;
    color: white;
    font-size: 30px;
    cursor: pointer;
}

.saveBtn:hover .inner {
    background-image: linear-gradient(60deg, #E21143, #FFC371);
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    background-color: transparent;
    transition: color 0.8s;
}

#clearContainer {
    align-items: center;
    text-align: center;
}

#clear {
    padding: 10px 100px;
    margin: 10px;
    border-radius: 200px;
    color: white;
    background-color: black;
    transition: background-color 0.3s, color 0.3s;
}

#clear:hover {
    background-color: white;
    color: black;
}

#textUponSave {
    margin: 0px;
    color: white;
    font-size: 30px;
    letter-spacing: 1.5px;
    /* fade text */
    opacity: 0;
    font-family: 'Raleway', sans-serif;
    transition: 1s opacity;
}

div.slide-up {
    /* height:200px; */
    overflow:hidden;
    animation: 1.5s slide-up;
    margin-top: 0%;
    margin-bottom: 10px;
  }

@keyframes slide-up {
from {
    margin-top: 100%;
}

to {
    margin-top: 0%;
}
}

/* fade background animation */
@keyframes gradient {
    0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

@media (max-width: 767px) {
    /* … */
    .row {
        margin-bottom: 32px;
    }
    .saveBtn {
        border-radius: 0px;
        text-align: center;
        font-size: 30px;
    }
    .hour {
        padding-top: 15px;
    }
    .time-block {
        text-align: center;
        border-radius: 15px;
        height: 150px;
    }
    textarea {
        height: 100px;
        font-size: 20px;
    }
}